<script>
    $(document).ready(function(){
        $('.zoom').hover(function() {
            $(this).addClass('transition');
        }, function() {
            $(this).removeClass('transition');
        });
    });
    </script>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form action="" #Ruta1="ngForm" (ngSubmit)='onSubmit(Ruta1)'>

      </form>
    </div>
  </div>
</div>

<div style="display: flex;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center"> Resultado del cluster de la ruta 622 </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h4 class="text-center">Cluster respecto a las paradas </h4>
      </div>
      <div class="col-md-12 text-center">
        <img src="../../../assets/plot.png" width="600" alt="" >
      </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12"> <h4 class="text-center"> Cluster respecto a los dias de la semana y hora</h4></div>
        <div class="col-md-12 text-center">
          <img src="../../../assets/plot2.png" width="600" alt="" >
        </div>
      </div>

  </div>

</div>