<header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
            <br>
            <br>
          <h1 class=""><strong> Bienvenidos a SmartBus</strong></h1>
          <!-- <p class="lead"><a href="./../users/new-user/new-user.component.html"> Regístrate ahora </a></p> -->
          <section class="py-5">
              <div class="container">
                <div class="card" style="background-color: rgba(245, 245, 245, 0.4); ">
                  <div class="card-body">
                    <h2 class="font-weight-light"><strong>¿Qué es SmartBus?</strong></h2>
                <p class="card-text"><strong>Es una plataforma digital para la venta de tickets de autobús mediante tarjetas eléctronicas y 
                  dispositivos compatibles con NFC, creando un servicio más eficiente y colectando los datos para crear un 
                  mejor servicio de transporte público por medio de Machine Learning utilizando algoritmos de agrupación 
                  destacando los sitios con mayor frecuencia de uso y generalizando las zonas. Se busca  brindar un 
                  servicio optimo para todos.</strong> 
                </p>
                  </div>
                </div>
                
              </div>

            </section>
            <section>
                <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                          
                          <app-login></app-login>
                      </div>
                    </div>
                  </div>
            </section>
        </div>
      </div>
    </div>
  </header>

 
  
  <!-- Page Content -->
